<div class="mt-4">
  <h3>Create Courses</h3>
  <form method="post" action="/courses/store">
    <div class="form-group">
      <label for="formGroupExampleInput">Name</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="input name"
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Description</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="input description"
        name="description"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Video</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="input videoId"
        name="videoId"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>